*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  border: 0;
  width: 100%;
  padding: 2px;
  margin: 0;
 background-color: #000028;
  justify-content: space-between;
}
.logo{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;

}
.love-logo{
  font-size:55px;
  color:#e83a64;
  border: 0;
  outline: none;
}
h3{
  font-style: oblique;
  text-shadow: 0 0 3px 4px rgb(24, 22, 22);
  font-size: 27px;
  color: white;
}
nav{
  display: flex;
  /* border:  1px solid; */
  margin-right: 30px;
  padding: 20px;
  justify-content: space-between;
  width: 650px;
}
.nav{
  margin: 0;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #e83a64;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
}
.nav:hover{
  background-color: #f18c53;
  color: white;
  border-radius: 7px;
border: none;
outline: none;

}
.home{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.intro{
  /* border: 2px solid; */
  padding: 10px;
  height: 300px;
  margin-top: 5em;
  margin-left:4em;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  color: #e83a64;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
  font-size: 20px;
}
h1{
  font-size: 43px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-shadow: 2px 2px 4px rgb(161, 161, 161);
}
h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #e83a64;
 text-shadow: 1px 1px 2px rgb(161, 161, 161);

}
.details{
  margin: 20px;
  padding: 5px;
}
.ptag{
  color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
text-align: left;

}
.input{
  /* border: 1px solid; */
  width: 100%;
  /* padding: 10px; */
  /* padding-left: 3em; */
  background-color: #f18c53; 
  border-radius: 15px; 
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}
input{
  padding: 15px;
  width: 300px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  background-color: #f18c53;
  border: 0;
  font-size: 20px;
  
}
input::placeholder{
  color: white;
}
.btn{
  padding: 15px;
  width: 200px;
  background-color: #e83a64;
  color: white;
  border: none;
  outline: none;
  border-radius: 30px;
  margin: 7px;
  font-size: 25px;
}
.footer{
  display: flex;
  margin: 0;
}
.ftag{
  /* border: 1px solid; */
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p2tag{
  text-align: center;
  color: black;
  font-weight: 400;
}
.h1Font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h1Font2{
  color: #f18c53;
 text-shadow: 2px 2px 4px #b89581;
}
.img{
  margin: 4em 1em 0 3em;
  padding: 20px;
  height: 25em;
  width: 700px;
  
}